.page-ref-wrapper {
  position: relative;
  display: inline-block;
}

.hover-tooltip {
  visibility: hidden;
  position: absolute;
  z-index: 1000;
  background-color: #333;
  color: #fff;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 14px;
  white-space: normal;
  width: max-content;
  max-width: 400px;
  min-width: 200px;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

.hover-tooltip::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.page-ref-wrapper:hover .hover-tooltip {
  visibility: visible;
  opacity: 1;
}
