---
import type { Currency } from '../types/currency';
import Breadcrumb from '../components/Breadcrumb.astro';
import ParseObjectListPage from '../components/ParseObjectListPage.astro';
import { getParseObjects } from '../utils/parse_object';
import { prepareObjectList } from '../utils/list';
import { getCurrenciesBreadcrumbs } from '../utils/breadcrumb';
import ObjRef from '../components/obj_ref/ObjRef.astro';

const currencies = getParseObjects<Currency>('Objects/Currency.json');

const entries = prepareObjectList(currencies, { prodReadyOnly: false });
---

<ParseObjectListPage
  title="Currencies"
  description="Browse all currencies in War Robots Frontiers"
  headerImage="/WRFrontiers/Content/Sparrow/UI/Textures/Meta/Currency/T_Credits_Render"
>
  <Breadcrumb breadcrumbs={getCurrenciesBreadcrumbs()} />
  <h1>Currencies</h1>

  <ul>
    {
      entries.map(([_id, currency]) => (
        <li>
          <ObjRef obj={currency} />
        </li>
      ))
    }
  </ul>
</ParseObjectListPage>
