---
import langs from '../../public/langs.json';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/WRFrontiersDB-Site/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<select id="lang-selector">
			{Object.entries(langs).map(([code, names]) => (
				<option value={code} selected={code === 'en'}>{(names as any)[code]}</option>
			))}
		</select>
		
		<h1>Astro</h1>
		<ul>
			<li><a href="/WRFrontiersDB-Site/modules">Modules</a></li>
			<li><a href="/WRFrontiersDB-Site/pilots">Pilots</a></li>
			<li><a href="/WRFrontiersDB-Site/pilot_talent_types">Pilot Talent Types</a></li>
			<li><a href="/WRFrontiersDB-Site/pilot_types">Pilot Types</a></li>
		</ul>

		<script type="module">
			import { initLanguageSelector } from '/WRFrontiersDB-Site/js/language_selector.js';
			
			// Initialize language selector with default behavior (reload on change)
			initLanguageSelector();
		</script>
	</body>
</html>
