---
import Breadcrumb from '../components/Breadcrumb.astro';
import ParseObjectListPage from '../components/ParseObjectListPage.astro';
import AllModulesNavBoxes from '../components/nav/AllModulesNavBoxes.astro';
import { getModulesBreadcrumbs } from '../utils/breadcrumb';
---

<ParseObjectListPage
  title="Modules"
  description="Browse all modules with their stats, effects, and requirements from War Robots Frontiers"
  headerImage="/images/T_AlphaUnlock.png"
>
  <Breadcrumb breadcrumbs={getModulesBreadcrumbs()} />
  <h1>Modules</h1>

  <p>Showing modules from current version</p>

  <AllModulesNavBoxes />
</ParseObjectListPage>
