---
import Breadcrumb from '../components/Breadcrumb.astro';
import ParseObjectListPage from '../components/ParseObjectListPage.astro';
import ModuleGroupsNavBox from '../components/nav/ModuleGroupsNavBox.astro';
import ObjRef from '../components/obj_ref/ObjRef.astro';
import { getModuleGroupsBreadcrumbs } from '../utils/breadcrumb';
import { getParseObjects } from '../utils/parse_object';
import type { ModuleGroup } from '../types/module_group';

const moduleGroups = getParseObjects<ModuleGroup>('Objects/ModuleGroup.json');

// Sort groups by sort_order
const sortedGroups = Object.values(moduleGroups).sort(
  (a, b) => (a.sort_order ?? 999) - (b.sort_order ?? 999)
);
---

<ParseObjectListPage
  title="Module Groups"
  description="Browse all module groups in War Robots Frontiers"
  headerImage="/images/T_AlphaUnlock.png"
>
  <Breadcrumb breadcrumbs={getModuleGroupsBreadcrumbs()} />
  <h1>Module Groups</h1>

  <ul>
    {
      sortedGroups.map((group) => (
        <li>
          <ObjRef obj={group} />
        </li>
      ))
    }
  </ul>

  <ModuleGroupsNavBox />
</ParseObjectListPage>
