---
import BackToHome from '../components/BackToHome.astro';
import ParseObjectListPage from '../components/ParseObjectListPage.astro';
import { getAllVersions } from '../utils/parse_object';
import type { ModuleStat } from '../types/module';
import { getParseObjects } from '../utils/parse_object';
import { prepareObjectList } from '../utils/list';
import PageRef from '../components/PageRef.astro';

const { versions, latestVersion } = getAllVersions();

const moduleStats = getParseObjects<ModuleStat>(
  'Objects/ModuleStat.json',
  latestVersion
);

// Prepare and filter module stats
const entries = prepareObjectList(moduleStats, { prodReadyOnly: false });
---

<ParseObjectListPage title="Module Stats" version={latestVersion}>
  <BackToHome />
  <h1>Module Stats</h1>

  <p>
    Showing module stats from latest version: {versions[latestVersion].title} ({
      latestVersion
    })
  </p>

  <ul>
    {
      entries.map(([_id, moduleStat]) => (
        <li>
          <PageRef obj={moduleStat} version={latestVersion} />
        </li>
      ))
    }
  </ul>
</ParseObjectListPage>
