---
import Breadcrumb from '../components/Breadcrumb.astro';
import ParseObjectListPage from '../components/ParseObjectListPage.astro';
import {
  MODULE_GROUPS,
  getAllModuleGroupIds,
} from '../utils/module_group_mapping';
import LocalizedText from '../components/LocalizedText.astro';
import { getModuleGroupsBreadcrumbs } from '../utils/breadcrumb';

const groupIds = getAllModuleGroupIds();

// Sort groups by sort_order
const sortedGroups = groupIds
  .map((groupId) => ({ ...MODULE_GROUPS[groupId], id: groupId }))
  .sort((a, b) => (a.sort_order || 999) - (b.sort_order || 999));
---

<ParseObjectListPage
  title="Module Groups"
  description="Browse all module groups in War Robots Frontiers"
  headerImage="/images/T_AlphaUnlock.png"
>
  <Breadcrumb breadcrumbs={getModuleGroupsBreadcrumbs()} />
  <h1>Module Groups</h1>

  <p>Showing module groups from current version</p>

  <ul>
    {
      sortedGroups.map((group) => (
        <li>
          <a href={`/module_groups/${group.id}`}>
            <LocalizedText localizationKey={group.name} tag="span" />
          </a>
        </li>
      ))
    }
  </ul>
</ParseObjectListPage>
