---
import ParseObjectList from '../components/ParseObjectList.astro';
import BackToHome from '../components/BackToHome.astro';
import ParseObjectListPage from '../components/ParseObjectListPage.astro';
import { getAllVersions } from '../utils/parse_object';

const { versions, latestVersion } = getAllVersions();
---

<ParseObjectListPage title="Pilot Types">
    <BackToHome />
    <h1>Pilot Types</h1>
    
    <p>Showing pilot types from latest version: {versions[latestVersion].title} ({latestVersion})</p>

    <ParseObjectList 
      parseObjectFile="Objects/PilotType.json" 
      parseObjectUrl="pilot_types" 
      version={latestVersion}
    />
</ParseObjectListPage>