---
import BackToHome from '../components/BackToHome.astro';
import ParseObjectListPage from '../components/ParseObjectListPage.astro';
import { getAllVersions } from '../utils/parse_object';
import type { PilotClass } from '../types/pilot';
import { getParseObjects } from '../utils/parse_object';
import { prepareObjectList } from '../utils/list';
import ObjRef from '../components/obj_ref/ObjRef.astro';

const { versions, latestVersion } = getAllVersions();

const pilotClasses = getParseObjects<PilotClass>(
  'Objects/PilotClass.json',
  latestVersion
);

// Prepare and filter modules
const entries = prepareObjectList(pilotClasses, { prodReadyOnly: false });
---

<ParseObjectListPage title="Pilot Classes" version={latestVersion}>
  <BackToHome />
  <h1>Pilot Classes</h1>

  <p>
    Showing pilot classes from latest version: {versions[latestVersion].title} ({
      latestVersion
    })
  </p>

  <ul>
    {
      entries.map(([_id, pilotClass]) => (
        <li>
          <ObjRef obj={pilotClass} version={latestVersion} />
        </li>
      ))
    }
  </ul>
</ParseObjectListPage>
