---
import BackToHome from '../components/BackToHome.astro';
import ParseObjectListPage from '../components/ParseObjectListPage.astro';
import { getAllVersions, getParseObjects } from '../utils/parse_object';
import PilotTables from '../components/pilot/Tables.astro';
import type { Pilot } from '../types/pilot';
import '../styles/pilots.css';

const { versions, latestVersion } = getAllVersions();

// Load pilots
const pilots = getParseObjects<Pilot>('Objects/Pilot.json', latestVersion);

const pilot = pilots['DA_Pilot_Common1.0']; // Pick an arbitary pilot. All are validated to have the same reputation costs by Parser
---

<ParseObjectListPage
  title="Pilots"
  version={latestVersion}
  jsFileName="pilots.js"
>
  <BackToHome />

  <p>
    Showing pilots from latest version: {versions[latestVersion].title} ({
      latestVersion
    })
  </p>

  <h1>Pilots</h1>
  <PilotTables pilots={pilots} version={latestVersion} />

  <h2>Reputation Costs</h2>
  <!--Table for reputation costs-->
  <p>All pilots have the same reputation costs.</p>
  <table>
    <thead>
      <tr>
        <th>Level</th>
        <th>Reputation Cost</th>
      </tr>
    </thead>
    <tbody>
      {
        pilot.levels?.map((level, index) => (
          <tr>
            <td>{index + 1}</td>
            <td>{level.reputation_cost || 'N/A'}</td>
          </tr>
        ))
      }
    </tbody>
  </table>
</ParseObjectListPage>
