---
import BackToHome from '../components/BackToHome.astro';
import ParseObjectListPage from '../components/ParseObjectListPage.astro';
import { getAllVersions, getParseObjects } from '../utils/parse_object';
import PilotTables from '../components/pilot/Tables.astro';
import type { Pilot } from '../types/pilot';
import '../styles/pilots.css';

const { versions, latestVersion } = getAllVersions();

// Load pilots
const pilots = getParseObjects<Pilot>('Objects/Pilot.json', latestVersion);
---

<ParseObjectListPage
  title="Pilots"
  version={latestVersion}
  jsFileName="pilots.js"
>
  <BackToHome />
  <h1>Pilots</h1>

  <p>
    Showing pilots from latest version: {versions[latestVersion].title} ({
      latestVersion
    })
  </p>

  <PilotTables pilots={pilots} version={latestVersion} />
</ParseObjectListPage>
