---
import ParseObjectList from '../components/ParseObjectList.astro';
import BackToHome from '../components/BackToHome.astro';
import { getAllVersions } from '../utils/parse_object';

const { versions, latestVersion } = getAllVersions();
---

<html>
  <head>
    <title>Pilot Classes</title>
  </head>
  <body>
    <BackToHome />
    <h1>Pilot Classes</h1>
    
    <p>Showing pilot classes from latest version: {versions[latestVersion].title} ({latestVersion})</p>

    <ParseObjectList 
      parseObjectFile="Objects/PilotClass.json" 
      parseObjectUrl="pilot_classes" 
      version={latestVersion}
    />
  </body>
</html>