---
import ParseObjectList from '../components/ParseObjectList.astro';
import BackToHome from '../components/BackToHome.astro';
import ParseObjectListPage from '../components/ParseObjectListPage.astro';
---

<ParseObjectListPage
  title="Pilot Personalities"
  description="Browse all pilot personalities with their unique traits and gameplay styles from War Robots Frontiers"
  headerImage="/images/T_UnLockPilots.png"
>
  <BackToHome />
  <h1>Pilot Personalities</h1>

  <p>Showing pilot personalities from latest version (current)</p>

  <ParseObjectList parseObjectFile="Objects/PilotPersonality.json" />
</ParseObjectListPage>
