---
import ParseObjectList from '../components/ParseObjectList.astro';
import BackToHome from '../components/BackToHome.astro';
import { getAllVersions } from '../utils/parse_object';

const { versions, latestVersion } = getAllVersions();
---

<html>
  <head>
    <title>Pilot</title>
  </head>
  <body>
    <BackToHome />
    <h1>Pilot</h1>
    
    <p>Showing pilots from latest version: {versions[latestVersion].title} ({latestVersion})</p>

    <ParseObjectList 
      parseObjectFile="Objects/Pilot.json" 
      parseObjectUrl="pilots" 
      version={latestVersion}
    />
  </body>
</html>