---
import BackToHome from '../components/BackToHome.astro';
import ParseObjectListPage from '../components/ParseObjectListPage.astro';
import { getParseObjects } from '../utils/parse_object';
import PilotTables from '../components/pilot/Tables.astro';
import type { Pilot } from '../types/pilot';
import '../styles/pilots.css';
import { resolveLocalizationKey } from '../utils/localization';
import LocalizedText from '../components/LocalizedText.astro';

// Load pilots
const pilots = getParseObjects<Pilot>('Objects/Pilot.json');

const pilot = pilots['DA_Pilot_Common1.0']; // Pick an arbitary pilot. All are validated to have the same reputation costs by Parser
---

<ParseObjectListPage
  title="Pilots"
  description="Browse all pilots with their stats, abilities, and available talents from War Robots Frontiers"
  headerImage="/images/T_UnLockPilots.png"
  jsFileName="pilots.js"
>
  <BackToHome />

  <p>Showing pilots from current version</p>

  <p>
    Generic Local Override Test: 
    <LocalizedText id="manual-override-test" tag="span" localizationKey={resolveLocalizationKey("Sora_Custom_Label", "Web_UI")} />
  </p>

  <h1>Pilots</h1>
  <PilotTables pilots={pilots} />

  <h2>Reputation Costs</h2>
  <!--Table for reputation costs-->
  <p>All pilots have the same reputation costs.</p>
  <table>
    <thead>
      <tr>
        <th>Level</th>
        <th>Reputation Cost</th>
      </tr>
    </thead>
    <tbody>
      {
        pilot.levels?.map((level, index) => (
          <tr>
            <td>{index + 1}</td>
            <td>{level.reputation_cost || 'N/A'}</td>
          </tr>
        ))
      }
    </tbody>
  </table>
</ParseObjectListPage>
