---
import ParseObjectList from '../components/ParseObjectList.astro';
import BackToHome from '../components/BackToHome.astro';
import ParseObjectListPage from '../components/ParseObjectListPage.astro';
import { getAllVersions } from '../utils/parse_object';

const { versions, latestVersion } = getAllVersions();
---

<ParseObjectListPage title="Pilot Personalities">
    <BackToHome />
    <h1>Pilot Personalities</h1>
    
    <p>Showing pilot personalities from latest version: {versions[latestVersion].title} ({latestVersion})</p>

    <ParseObjectList 
      parseObjectFile="Objects/PilotPersonality.json" 
      version={latestVersion}
    />
</ParseObjectListPage>