---
import ParseObjectList from '../components/ParseObjectList.astro';
import BackToHome from '../components/BackToHome.astro';
import ParseObjectListPage from '../components/ParseObjectListPage.astro';
---

<ParseObjectListPage 
  title="Pilot Personalities" 
  description="Browse all pilot personalities with their traits and effects from War Robots Frontiers"
  image="/images/T_Trait_Madman.png"
  displayImage="/images/T_Trait_Madman.png"
>
  <BackToHome />
  <h1>Pilot Personalities</h1>

  <p>Showing pilot personalities from latest version (current)</p>

  <ParseObjectList parseObjectFile="Objects/PilotPersonality.json" />
</ParseObjectListPage>
