---
import fs from 'fs';
import path from 'path';
import process from 'node:process';
import Page from '../components/Page.astro';
import type { VersionInfo } from '../types/version';

// Load version metadata
const versionsPath = path.join(
  process.cwd(),
  'public/WRFrontiersDB-Data/versions.json'
);
const versions = JSON.parse(fs.readFileSync(versionsPath, 'utf8')) as Record<
  string,
  VersionInfo
>;
---

<Page title="Versions">
  <p>Back to <a href={import.meta.env.BASE_URL}>Home</a></p>
  <h1>Versions</h1>

  <ul>
    {
      Object.entries(versions).map(([version, info]) => (
        <li>
          {info.title} ({version})
        </li>
      ))
    }
  </ul>
</Page>
