---
import ObjRef from './obj_ref/ObjRef.astro';

interface Props {
  resolvedObjects: any[];
}

const { resolvedObjects } = Astro.props;
---

<div
  class="ability-references"
  style="margin-top: 1rem; font-size: 0.9rem; color: #666;"
>
  {resolvedObjects.map((resolvedObj) => (
    <span style="margin-right: 0.5rem;">
      {resolvedObj ? (
        <ObjRef obj={resolvedObj} useHref={false} />
      ) : null}
    </span>
  ))}
</div>
