---
import StatEmbedLocalizedText from './StatEmbedLocalizedText.astro';
import type { ObjRefData } from '../utils/obj_ref';
import type { StatValueChoices } from './StatEmbedLocalizedText.astro';

interface Props {
  pageData: ObjRefData;
  onHoverStatChoices?: StatValueChoices;
  useOnHover: boolean;
}

const { pageData, onHoverStatChoices, useOnHover } = Astro.props;
---

{
  useOnHover && pageData.description && (
    <span class="hover-tooltip">
      <StatEmbedLocalizedText
        tag="span"
        localizationKey={pageData.description}
        statValueChoices={onHoverStatChoices || {}}
      />
    </span>
  )
}
