---
import { getParseObjects } from '../utils/parse_object';
import PageRef from './PageRef.astro';
import { prepareObjectList } from '../utils/list';

export interface Props {
  parseObjectFile: string;
  version: string;
  prodReadyOnly?: boolean;
}

const { parseObjectFile, version, prodReadyOnly = false } = Astro.props;

const objects = getParseObjects(parseObjectFile, version);
let entries = prepareObjectList(objects, { prodReadyOnly });

// Creates list of links to parse objects. Not to be confused with a ParseObjectListPage, which is a full page wrapper.
---

<ul>
  {entries.map(([_, obj]) => (
    <li>
      <PageRef 
        obj={obj} 
        version={version}
      />
    </li>
  ))}
</ul>