name: Run Tests

on:
  pull_request:
    branches: ['main']
    
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
      
      # Checkout data repo (uses PAT ONLY for this step)
      - name: Checkout Data Repo
        uses: actions/checkout@v4
        with:
          repository: Surxe/WRFrontiersDB-Data
          token: ${{ secrets.DATA_REPO_PAT }}
          path: WRFrontiersDB-Data

      - name: Symlink WRFrontiersDB-Data to public
        run: ln -s ../WRFrontiersDB-Data public/WRFrontiersDB-Data
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
      
      - name: Install dependencies
        run: npm ci
      
      - name: Run tests
        run: npm run vitest
